@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


@theme {

    --font-roboto: 'roboto', 'sans-serif';
    --text-color: #1D1B20;

    /* Branding */
    --color-primary: #1860BF;
    --color-secondary: #1AAFDE;
    --color-tertiary: #1C2435;

    /* Gradients */
    --gradient-primary: linear-gradient(90deg, #1860BF 0%, #1AAFDE 100%)
}

body {
    font-family: var(--font-roboto);
    color: var(--text-color);
}