@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


@theme {

    /* Font/Text */
    --font-roboto: 'roboto', 'sans-serif';
    --color-primary-text: #1D1B20;
    --color-mute: #8E8E93;

    /* Branding */
    --color-primary: #1860BF;
    --color-secondary: #1AAFDE;
    --color-tertiary: #1C2435;

    /* UI */
    --color-header-icon: #49454F;
    --color-header-icon-hover: #8E8E93;
    --color-hr: #D9D9D9;
    --color-card-outline: #C7C7CC;

    /* Gradients */
    --gradient-primary: linear-gradient(90deg, #1860BF 0%, #1AAFDE 100%)
}

body {
    font-family: var(--font-roboto);
    color: var(--color-primary-text);
}